# User-specific files
*.user
*.suo

# Build
[Bb]in
[Oo]bj
*.xap
[Pp]ublish

# Other files
*.dotCover
_ReSharper.*
StyleCop.*

# Nuget
packages
/.vs/DapperExtensions/v15/Server/sqlite3/storage.ide
/.vs/DapperExtensions/v15/Server/sqlite3/db.lock
/.vs/DapperExtensions/v15/Server/sqlite3
